body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
header top {
  background: #333;
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
}

/* Estilo para a navegação */
header nav {
  background: #444;
  color: #fff;
  padding: 5px 0;
  
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Estilo para a seção principal */
main {
  padding: 20px;
  background: #fff;
  margin: 20px auto;
  max-width: 800px;
  min-height: 240px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para o rodapé */
footer {
  text-align: center;
  padding: 10px 0;
  background: #333;
  color: #fff;
  position: relative;
  bottom: 0;
  width: 100%;
}

.botao-redondo {
  width: 9rem; /* Largura do botão */
  height: 45px; /* Altura do botão */
  background-color: #333; /* Cor de fundo */
  color: white; /* Cor do texto */
  border: none; /* Sem borda */
  border-radius: 50%; /* Forma redonda */
  cursor: pointer; /* Cursor de mão ao passar o mouse */
  display: flex; /* Para centralizar o conteúdo */
  align-items: center; /* Alinhamento vertical */
  justify-content: center; /* Alinhamento horizontal */
  font-size: 20px; /* Tamanho do ícone */
  transition: background-color 0.3s; /* Efeito de transição */
}

.botao-redondo:hover {
  background-color: #4b4b4b; /* Cor de fundo ao passar o mouse */
}