<header>
    <top style="align-items: center;">
    <img id="logo" src="{{ relURL "images/ThundeRatz.png" }}" alt="logo" height="50px">
    <h1>{{ .Site.Title}}</h1>
    <img id="logo" src="{{ relURL "images/ThundeRatz.png" }}" alt="logo" height = "50px">
    </top>
    <nav>
        <ul>
            <li>
                <a href="{{ relURL "" }}"> 
                <button class="botao-redondo"> Home </button>
                </a></li>
            <li><a href="{{ relURL "about" }}">
                <button class="botao-redondo"> Sobre </button>
                </a></li>
            <li><a href="{{ relURL "projects" }}"> 
                <button class="botao-redondo"> Projetos </button>
                </a></li>
            <li><a href="{{ relURL "curriculum" }}">
                <button class="botao-redondo"> Curriculo </button>
                </a></li>
        </ul>
    </nav>
</header>